.productCard{
    flex:0 0 250px;
    height: 370px;
    margin:1em;
    border-radius:5px;
    box-shadow: 1 1 1 2px #000;
    padding:1em;
    border:1px solid #ccc;
    transition: box-shadow .2s ease-in-out;
}
.product-title{
    font-size: 15px;
    height: 70px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.productCard:hover{
    background:#fcfcfc;
    box-shadow: 0 3px 16px 0 rgb(0 0 0 / 11%);
}
.productCard p{
    padding:0.15em 0;
}
@media screen and (max-width:500px){
    .productCard{
        flex:1 1 90%;
    }
    .productCard img{
        width: 80%;
        display: block;
        margin: 0 auto;
    }
}